@font-face {
  font-family: ASAP;
  src: url(../fonts/Asap-Medium.ttf); }
@font-face {
  font-family: ASAP-R;
  src: url(../fonts/Asap-Regular.ttf); }
@font-face {
  font-family: ASAP-sm;
  src: url(../fonts/Asap-SemiBold.ttf); }
@font-face {
  font-family: ASAP-b;
  src: url(../fonts/Asap-Bold.ttf); }
html {
  font-family: ASAP; }
  html body {
    background-repeat: no-repeat;
    background-size: cover; }
  html input {
    border-bottom-color: #93c13a !important; }
  html .btn-small {
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 25px;
    margin: 0;
    height: 28px; }
  html label, html input.login {
    font-family: ASAP-R;
    letter-spacing: 1px;
    color: #b3b3b3; }
  html header {
    line-height: 13px;
    height: 50px;
    background-color: #1a1a1a;
    display: flex;
    padding: 12px 5px 12px 94px;
    justify-content: space-evenly;
    align-items: center; }
    html header #green, html header #yellow, html header #orange {
      display: flex; }
      html header #green > p, html header #yellow > p, html header #orange > p {
        margin: 0 2px;
        font-size: 16px; }
        html header #green > p b, html header #yellow > p b, html header #orange > p b {
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 2px; }
      html header #green p + p, html header #yellow p + p, html header #orange p + p {
        margin-left: 25px; }
    html header #green {
      color: #93c13a; }
    html header #yellow {
      color: #e0c53a; }
    html header #orange {
      color: #e45a4f; }
    html header #menu {
      cursor: pointer; }
    html header #one-more {
      flex: 0 1 auto; }
    html header #cont-menu {
      position: relative; }
      html header #cont-menu ul {
        display: none;
        position: absolute;
        top: 15px;
        right: 0px; }
        html header #cont-menu ul:hover {
          display: block; }
        html header #cont-menu ul li {
          background-color: #1a1a1adb;
          padding: 10px 30px 10px 40px;
          color: white;
          font-size: 12px;
          white-space: nowrap;
          text-align: right;
          font-family: ASAP-sm;
          cursor: pointer; }
          html header #cont-menu ul li + li {
            border-top: 1px solid #ffffff59; }
          html header #cont-menu ul li:hover {
            background-color: #1a1a1a; }
      html header #cont-menu:hover ul {
        display: block; }
  html footer {
    width: 75%; }
    html footer div {
      display: flex;
      justify-content: center; }
      html footer div:nth-child(2) {
        font-size: 10px;
        text-align: center;
        line-height: 2em;
        color: #b3b3b3;
        font-family: ASAP-sm; }
  html .icon {
    position: absolute;
    width: 31px;
    height: 31px;
    top: 10px; }
    html .icon.user {
      background-image: url(../img/icon-user.png); }
    html .icon.pass {
      background-image: url(../img/icon-pass.png); }
  html .icon-white {
    color: white; }
  html .asap-r {
    font-family: ASAP-R; }
  html .l-space-1 {
    letter-spacing: 1px; }

#container-login {
  background-image: url("../img/palm-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: round; }
  #container-login #cont-form-login {
    width: 400px;
    height: 440px;
    margin: auto; }
    #container-login #cont-form-login #form-login form {
      margin-left: -1em; }
    #container-login #cont-form-login #form-login input, #container-login #cont-form-login #form-login input + label {
      padding-left: 40px; }
    #container-login #cont-form-login #form-login i.material-icons {
      left: 1.8em; }
    #container-login #cont-form-login #form-login #actions {
      margin-right: -3em; }
      #container-login #cont-form-login #form-login #actions a {
        float: right; }
      #container-login #cont-form-login #form-login #actions div:first-child {
        margin-top: -20px;
        color: #93c13a; }
    #container-login #cont-form-login #form-login img[src*="logo"] {
      width: 400px; }

#content {
  background: linear-gradient(0deg, white 6%, #bed988 6%);
  height: calc(100vh - 60px); }
  #content #sunny {
    position: absolute;
    top: -40vh;
    left: -16vw;
    width: 25vw;
    height: 60vh;
    background: #e0c53c url("../img/sunny.png") no-repeat 85% 83%;
    border-radius: 8em;
    background-size: 5vw;
    box-shadow: 0px 0px 45px -8px; }
    #content #sunny p {
      position: absolute;
      bottom: 3vh;
      right: 4vw;
      font-family: ASAP-b;
      font-size: 1vw;
      letter-spacing: 1px; }
  #content #crop {
    height: calc(100vh - 230px);
    padding: 2vh 26vw 0 18vw; }
    #content #crop .plant {
      height: calc((98vh - 230px)/6); }
      #content #crop .plant img {
        height: calc((98vh - 230px)/6 + 6vw); }
      #content #crop .plant.sick::before {
        content: '';
        background-image: url(../img/wilt.png);
        width: 50px;
        height: 50px;
        position: absolute;
        margin: 1em 2em;
        cursor: pointer; }
  #content #actions {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;
    width: 60vw;
    margin: 0vh 20vw; }
    #content #actions li {
      float: left;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #content #actions li p {
        margin: 0;
        font-family: ASAP-b;
        font-size: 14px;
        letter-spacing: 1px; }

@media only screen and (max-width: 600px) {
  html header #green {
    display: none; } }

/*# sourceMappingURL=style.css.map */
